/* responsive */
.box_sp {display: none;}
.box_pc {display: block;}

@media screen and (min-width: 751px) {
    .btn a:hover{background: #fff;color:#073265;}
    .btn_red a:hover{background: #fff;color: #e30922}
    .btn_white a:hover{background: #323232;color: #fff}
    
    .slick-arrow:hover::before{cursor: pointer;opacity: 0.8;}
    .slick-slider:hover .slick-arrow{transform: translateY(0);opacity: 1;}

    
    .box01_ct ul li:hover{box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15), 0px 4px 7px 0px rgba(0, 0, 0, 0.15)}
    .box01_ct ul li:hover span{color: #26408e}

    .box02_btn .qr:hover{transform: none;box-shadow: none;}
    .box02_btn p:hover{transform: translateY(-10px);box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.15), 0px 4px 7px 0px rgba(0, 0, 0, 0.15)}
    
    #gnavi ul li a:hover{color: #073265;opacity: 1;}

    .games_ct .games_item:hover,
    #btn_top:hover,
    .box_modal .btn_close:hover,
    .box04_ct ul li a:hover,
    #footer .foot_col ul li a:hover{opacity: 0.7;cursor: pointer}

    .game_pages .read a:hover{text-decoration: underline;color: #333;}
    .confirm_txt p a:hover{text-decoration: none;}
}

@media screen and (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd ,
    .idx p, .idx dd, .idx dt, .idx li, .idx th, .idx td{font-size: 14px;line-height: 1.6em;}



    #wrapper,
    #header,
    #main,
    #footer,
    .inner {width: 100% !important;min-width: inherit !important;}
    .inner {box-sizing: border-box;padding: 0 15px;}
    .box_sp {display: block;}
    .box_pc {display: none;}
    /*---*/
    
    .slick-arrow{width: 30px;height: 30px;top: calc(50% - 15px);transform: translateY(0);opacity: 1;}
    .slick-arrow::before{width: 30px;height: 30px;}

    /*==========================================================================*/
    /*                               ALL                                        */
    /*==========================================================================*/
    #header{padding-bottom: 0}
    #header h1{display: none}
    #gnavi{display: none;}
    
    #index .ttl h3{font-size: 24px;}

    .btn a{width: 290px;}
    /*==========================================================================*/
    /*                               MAIN                                       */
    /*==========================================================================*/
    
    
    
    /*==========================================================================*/
    /*                               CHILD PAGE                                 */
    /*==========================================================================*/

    /* ALL GAME PAGE */
    .game_pages #header h1{display: flex}
    .game_pages p{font-size: 14px;}
}

@media screen and (max-width: 560px) {
   
    
}

@media screen and (max-width: 480px) {

    .games_ct .games_item{padding-left: 5px;}
    .games_ct .games_item .date,
    .games_ct .games_item .time{font-size: 12px}
    .games_ct .games_item .date span,
    .games_ct .games_item .time span{margin-left: 0}
    .games_ct .games_item .money{font-size: 20px}
    .games_ct .games_item .img{width: 80px;margin-right: 10px}
    .games_ct .games_item .arr{width: 30px;}
    .games_ct .games_item .arr a{width: 9px}
    
    /* BOX MODAL POPUP */
    .box_modal_head{height: 50px}
    .box_modal_head h3{font-size: 18px}
    .box_modal_body{max-height: calc(100% - 115px)}
    .box_modal_foot .btn a{width: 260px}
    .box_modal .btn_close{top: 10px;right: 10px;width: 15px}

    /* CONFIRM TEL */
    .confirm_tel select{width: 70px}
    .confirm_tel input{width: calc(98% - 70px)}
    
}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 380px) {
    .btn{padding: 0;width: 100%;box-sizing: border-box}
}

@media screen and (max-width: 360px) {

}