@charset "UTF-8";
@import "base.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap&subset=latin-ext,vietnamese');

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,code,kbd,samp{ font-family:monospace; font-size: 100%; *font-size:108%; line-height: 1.4; color: #333; }

/* Font-size fixed */
li li,li dt,li dd,li input,li select,li button,li textarea,li p,li th,li td,
dt li,dt dt,dt dd,dt input,dt select,dt button,dt textarea,dt p,dt th,dt td,
dd li,dd dt,dd dd,dd input,dd select,dd button,dd textarea,dd p,dd th,dd td,
th li,th dt,th dd,th input,th select,th button,th textarea,th p,th th,th td,
td li,td dt,td dd,td input,td select,td button,td textarea,td p,td th,td td,
p input{ font-size: 100%; }
/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/

h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	font-size: 140%;
	-webkit-text-size-adjust: none;
	font-weight: 400;
}
*{box-sizing: border-box;outline: none;} 
img {vertical-align: middle;max-width: 100%;}
table {width: 100%;font-size:inherit; font: 100%; color: #333; line-height: 1.4; }
p {margin: 0 0 1.5em;}
div > p:last-child{margin-bottom: 0}
/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
html {background: none;}
body {color: #333;font-family: 'Roboto Condensed', sans-serif;font-size: 14px;}
#wrapper{min-width:1280px;overflow: hidden}
.inner {width:1200px;margin: 0 auto;}
a{text-decoration: none;color: #333;}
a:hover{color: #333;}

p,
dd,
dt,
li,
th,
td{line-height: 1.75em}

/*==========================================================================*/
/*                               Header                                     */
/*==========================================================================*/
#header{}
#header.active #gnavi{background: rgba(0, 0, 0, 0.5)}

#gnavi{z-index: 6;position: fixed;top: 0;left: 0;width: 100%;}
#gnavi .inner{display: flex;align-items: center;}
#gnavi #logo{width: 150px}
#gnavi ul{display: flex;justify-content: space-between;width: calc(100% - 150px);padding-left: 20px;align-items: center;}
#gnavi ul li{margin: 0 0 0 15px;}
#gnavi ul li a{text-transform: uppercase;color: #fff;}
#gnavi ul li.btn a{text-transform: uppercase;width: auto;padding: 0 50px;border-radius: 30px;}
#gnavi ul li a:hover{opacity: 0.7;}

.btn_open{width: 60px;height:60px;margin: 0;position: absolute;top: 0px;right: 0;}
.btn_side{display:block;cursor:pointer;width:100%;height:100%;text-align:center;z-index:9999;position:relative;margin:0 auto;position:absolute;border-radius:0}
.btn_side span{display:block;position:absolute;height: 2px;width:15px;background:#8352a5;opacity:1;transform:rotate(0deg);transition:.3s ease-in-out}
.btn_side span:nth-child(even){left:calc(50% + 1px);}
.btn_side span:nth-child(odd){left:calc(50% - 14px);}
.btn_side span:nth-child(1),.btn_side span:nth-child(2){top:21px}
.btn_side span:nth-child(3),.btn_side span:nth-child(4){top:30px}
.btn_side span:nth-child(5),.btn_side span:nth-child(6){top:39px}

.btn_side.open{background: #8352a5}
.btn_side.open span{background: #fff}
.btn_side.open span:nth-child(1),.btn_side.open span:nth-child(6){transform:rotate(45deg)}
.btn_side.open span:nth-child(2),.btn_side.open span:nth-child(5){transform:rotate(-45deg)}
.btn_side.open span:nth-child(1){left:calc(50% - 12px);top:25px}
.btn_side.open span:nth-child(2){left:calc(50% - 2px);top:25px}
.btn_side.open span:nth-child(3){left:-50%;opacity:0}
.btn_side.open span:nth-child(4){left:100%;opacity:0}
.btn_side.open span:nth-child(5){left:calc(50% - 12px);top:36px}
.btn_side.open span:nth-child(6){left:calc(50% - 2px);top:36px}

#fct_side{position: fixed;top: 30%;right: 0;z-index: 6;opacity: 0;visibility: hidden;transition: all ease 0.3s;}
#fct_side.active{opacity: 1;visibility: visible;}
#fct_side p{margin-bottom: 10px;}
#fct_side p a{background: #b06994;color: #fff;width: 65px;height: 200px;padding: 35px 20px 0;position: relative;display: flex;line-height: 1.2em;justify-content: center;align-items: center;flex-direction: column;text-align: center;border-radius: 5px 0 0 5px;cursor: pointer;}
#fct_side p a::before{background: url('../images/fct_ic_1.png') center no-repeat;background-size: cover;width: 23px;height: 25px;content: '';position: absolute;top: 15px;left: calc(50% - 11px);}
#fct_side p a img{margin-bottom: 10px;}
#fct_side .link{}
#fct_side .link a{background: #a37bbf}
#fct_side .link a::before{width: 22px;background: url('../images/fct_ic_2.png') center no-repeat;background-size: cover;}

#fct_sp{display: none;background: #8352a5;height: 60px;width: 100%;justify-content: center;align-items: center;padding: 5px;position: fixed;bottom: -120px;left: 0;z-index: 999;box-sizing: border-box;transition: all ease 0.5s;}
#fct_sp.active{bottom: 0;}
#fct_sp p{margin:0 6px 0 0;}
#fct_sp p:last-child{margin-right: 0}
#fct_sp p a{background: #fff;height: 50px;display: flex;justify-content: center;align-items: center;width: 100%;color: #8352a5}
#fct_sp p a img{margin-right: 5px}
#fct_sp .tel{width: calc(40% - 4px)}
#fct_sp .mail{width: calc(30% - 4px)}
#fct_sp .map{width: calc(30% - 4px)}

#btn_top{position:fixed;right: 15px;bottom: 90px;z-index: 9;cursor: pointer;box-sizing: border-box;margin-bottom: 0;display: none;}
/*==========================================================================*/
/*                               ALL                                        */
/*==========================================================================*/
/* FONT PAGE  */


/* FIX FONT + PADDING */
.pdb30{padding: 0 0 30px}
.pdb50{padding: 0 0 50px;}
.mgb0{margin-bottom: 0;}
.mgb30{margin-bottom: 30px;}
.mgb50{margin-bottom: 50px;}
.fs12{font-size: 12px;}
.fs16{font-size: 16px;}

.btn{text-align: center;display: block;margin:0 auto;}
.btn a{position: relative;text-align: center;color: #fff;width: 260px;height: 50px;background: #1b3a8e;font-size: 16px;text-decoration: none;display: flex;justify-content: center;align-items: center;margin:0 auto;box-sizing: border-box;transition:  all ease 0.3s;border:1px solid #1b3a8e;border-radius: 5px;text-transform: uppercase}


/* SLICK ARROW */
.slick-arrow{width: 40px;height: 40px;position: absolute;top: calc(50% - 20px);left: 15px;z-index: 1;background: none;border: none;transform: translateY(-20px);opacity: 0;transition: all ease-in-out 0.4s}
.slick-arrow::before{width: 40px;height: 40px;background:url('../images/btn_prev.png') center no-repeat;background-size: cover;z-index: 1;content: '';display: block;}
.slick-next::before{background: url('../images/btn_next.png') center no-repeat;background-size: cover;}
.slick-next{left: inherit;right: 15px}

/*==========================================================================*/
/*                               Main                                       */
/*==========================================================================*/
#main{position: relative;z-index: 2}
.ttl{margin-bottom: 50px;}
.ttl h3{line-height: 1.4em;font-size: 54px;color:#1b3a8e;margin-bottom: 30px;text-align: center;text-transform: uppercase;font-weight: bold;}
.ttl p{font-size: 18px;text-align: center;}

.box01{background: #f1f3f5;padding: 100px 0}
.box01_ct{}
.box01_ct ul{display: flex;flex-wrap: wrap;}
.box01_ct ul li{width: calc((100% - 60px) / 4);margin:0 20px 20px 0;display: flex;justify-content: center;align-items: center;flex-direction: column;text-align: center;background: #fff;transition: all ease 0.3s;border-radius: 5px;padding: 20px 0}
.box01_ct ul li img{width: 70px}
.box01_ct ul li span{font-size: 24px;font-weight: bold;text-align: center;line-height: 1.25em;display: inline-block;margin-top: 20px;}
.box01_ct ul li:nth-child(4n + 4){margin-right: 0}

.box02{background: url('../images/box02_bg.jpg') top center fixed no-repeat;background-size: cover;padding: 500px 0 100px;position: relative;}
.box02::before{position: absolute;content: '';top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0,0.4)}
.box02::after{position: absolute;content: '';bottom: 0;left: 0;width: 100%;height: 300px;background-color: #ffffff;z-index: 0;}
.box02_ct{background: #fff;position: relative;z-index: 1;border-radius: 5px;padding: 50px;box-shadow: -0.707px -0.707px 10px 0px rgba(29, 25, 28, 0.3)}
.box02_btn{display: flex;justify-content: center;flex-wrap: wrap}
.box02_btn p{margin: 0 15px;transition: all ease 0.3s;}
.box02_btn .qr{width: 100%;text-align: center;margin-bottom: 30px;}

.box03{background: url('../images/box03_bg.jpg') top center no-repeat;background-size: cover;padding: 100px 0;position: relative;}
.box03::before{position: absolute;content: '';top: 0;left: 0;width: 100%;height: 100%;background: rgba(19, 26, 62,0.9)}
.box03_ct{position: relative;z-index: 2;color: #fff;}
.box03_ct .ttl h3{color: #fff;}
.box03_ct .box03_list ul{}
.box03_ct .box03_list ul li{}
.box03_ct .box03_list ul li p{text-align: center;font-size: 24px;font-weight: 300;margin-bottom: 15px}
.box03_ct .box03_list ul li .box03_video{width: 900px;height: 500px;margin: 0 auto;}
.box03_ct .box03_list ul li .box03_video iframe{width: 100%;height: 100%;}
.box03_ct .box03_list .slick-arrow{top: calc(50% + 10px)}

.box04{padding: 100px 0}
.box04_ct {}
.box04_ct .box04_img{margin-bottom: 50px}
.box04_ct .box04_img ul{}
.box04_ct .box04_img ul li{margin: 0 20px;}

.box05{background: url('../images/box05_bg.jpg') center no-repeat;background-size: cover;padding: 100px 0;position: relative;}
.box05 .ttl,
.box05 .ttl h3{color: #fff;}
.box05::before{position: absolute;content: '';top: 0;left: 0;width: 100%;height: 100%;background: rgba(19, 26, 62, 0.9)}
.box05_ct{position: relative;z-index: 1;}
.box05_ct .box05_list{}
.box05_ct .box05_list ul{}
.box05_ct .box05_list ul li{display: flex;flex-direction: column;align-items: center;justify-content: center;border: 1px solid #ededed;box-shadow: -0.707px -0.707px 10px 0px rgba(29, 25, 28, 0.3);background: #fff;border-radius: 5px;margin: 0 15px;padding: 30px;}
.box05_ct .box05_list ul li  p{margin-bottom: 10px}
.box05_ct .box05_list ul li .img{width: 80px;height: 80px;border-radius: 50%;overflow: hidden;display: flex;justify-content: center;align-items: center;text-align: center;}
.box05_ct .box05_list ul li  .talk{color: #8492a6;font-size: 14px;text-align: center;}
.box05_ct .box05_list ul li  .name{color: #4da2f9}

.box05_ct .box05_list .slick-dots{display: flex;justify-content: center;margin-top: 30px;}
.box05_ct .box05_list .slick-dots li{width: 10px;height: 10px;border:none;box-shadow: none;background: none;border-radius: 0;margin: 0 5px;padding: 0}
.box05_ct .box05_list .slick-dots li.slick-active{transform: rotate(45deg)}
.box05_ct .box05_list .slick-dots li button{border-radius: 2px;background: #fff;width: 100%;height: 100%;border:none;font-size: 0;color: transparent;}

.box06{padding: 100px 0;background: #f1f3f5}
.box06_ct{}
.box06_ct ul{display: flex;justify-content: space-between;}
.box06_ct ul li{width: 30%;}
.box06_ct ul li p{margin-bottom: 0;text-align: center;font-size: 24px;font-weight: 300;line-height: 1em}
.box06_ct ul li .img{}
.box06_ct ul li .num{color: #4da2f9;font-size: 60px;font-weight: 700;margin: 15px auto}


.box07{background: #fefaee url('../images/box07_bg.jpg') center right no-repeat;padding: 100px 0}
.box07_ct{width: 50%;}

.box08{padding: 100px 0}
.box08_ct{}
.box08_ct ul{}
.box08_ct ul .slick-track{padding: 15px 0}
.box08_ct ul li.slick-slide{width: 100px;height: 100px;border-radius: 5px;display: flex;align-items: center;justify-content: center;overflow: hidden;text-align: center;margin: 0 15px;}
.box08_ct ul li img{max-height: 100%;}
.box08_ct .slick-dots{display: flex;justify-content: center;margin-top: 30px;}
.box08_ct .slick-dots li{width: 10px;height: 10px;border:none;box-shadow: none;background: none;border-radius: 0;margin: 0 5px;padding: 0}
.box08_ct .slick-dots li.slick-active button{transform: rotate(45deg)}
.box08_ct .slick-dots li button{border-radius: 2px;background: #4da2f9;width: 100%;height: 100%;border:none;font-size: 0;color: transparent;}

/*==========================================================================*/
/*                               Footer                                     */
/*==========================================================================*/
#footer{position: relative; z-index: 4;}
#footer .foot_map{width: 100%;height: 299px}
#footer .foot_map iframe{width: 100%;height: 100%;}
#footer .foot_ct{background: #211f1f;padding: 50px 0}
#footer .foot_ct .inner{display: flex;}
#footer .foot_col{width: 32%;margin-right: 2%}
#footer .foot_col:last-child{margin-right: 0}
#footer .foot_col p{font-size: 14px;margin-bottom: 5px;color: #fff}
#footer .foot_col p span{font-weight: bold;min-width: 80px;display: inline-block}
#footer .foot_col .big{font-size: 24px;text-transform: uppercase;font-weight: 300}
#footer .foot_col p a{text-decoration: underline;color: #999;transition: all ease 0.3s}
#footer .foot_col p a:hover{text-decoration: none;color: #fff;}
#footer .foot_col ul{display: flex;margin-bottom: 15px}
#footer .foot_col ul li{margin-right: 15px;}
#footer .foot_col ul li:last-child{margin-right: 0;}
#footer .foot_col ul li a{width: 30px;height: 30px;border-radius: 5px;display: flex;justify-content: center;align-items: center;text-align: center;overflow: hidden}
#footer .foot_col ul li a img{max-height: 100%}

#footer address{text-align: center;padding:0;font-size: 12px;width: 100%;height: 50px;color: #fff;display: flex;align-items: center;justify-content: center;letter-spacing: 0.05em;background: #4da2f9}


/* CHORME ONLY  */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    
}

/* FIREFOX CSS */
@supports (-moz-appearance:none) and (-webkit-appearance:none)
{
  
}

/* IE STUPID CSS */
@media screen\0 {
	
}

/* EDGE 12+ CSS */
@supports (-ms-ime-align:auto) {
	
}



